body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  text-align: center;
}
button {
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  border-color: #f2ba50;
  background-color: #f2ba50;
  color: #454655;
}

h1 {
  color: #454655;
  font: bold;
}

#img {
  margin-top: 70px;
}

#paragraph-result {
  margin-top: 50px;
}

input {
  margin-top: 6px;
  width: 200px;
  border-radius: 25px;
  border-color: lightgray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}